@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

a:link, :visited, :hover, :active {
  color: #000;
  text-decoration: none;
}

.bordered {
  width: 75%;
  height: 100%;
  padding: 20px;
  border: 20px double yellowgreen;
}

.button {
  background-color: #000;
  border-radius: 2px;
  color:#fff;
  padding: 20px;
  text-decoration: none;
}

.container {
  font-family: 'Raleway', sans-serif;
  font-size: 1.3em;
  font-weight: lighter;
  margin: 0 0 5% 10%;
}

.content {
  text-align: center;
}
