@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.caption {
  text-align: center;
}

.container {
  border: none;
  font-family: 'Raleway', sans-serif;
  font-size: 1.3em;
  font-weight: lighter;
  margin: 0 0 5% 10%;
}

.contact {
  color: #000;
  text-decoration: none;
}

.portrait {
  margin: -10% 0 -10% 25%;
  width: 50%;
}

.bordered {
  width: 75%;
  height: 100%;
  padding: 20px;
  border: 15px solid #cc0000;
  outline: 15px solid #0000b2;
}

