@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.button {
  background-color: #000;
  border-radius: 2px;
  color:#fff;
  font-family: 'Raleway', sans-serif;
  font-size: 1.3em;
  padding: 20px;
  text-decoration: none;
  width: 100%;
}

.container {
  background-color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 1.3em;
  font-weight: lighter;
  margin: 0 0 5% 10%;
  text-align: center;
  width:100%;
}

.bordered {
  width: 75%;
  height: 100%;
  padding: 20px;
  border: 20px double yellowgreen;
}
