@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.bordered {
  width: 75%;
  height: 100%;
  padding: 20px;
  border: 15px solid #cc0000;
  outline: 15px solid #0000b2;
}

.container {
  font-family: 'Raleway', sans-serif;
  font-size: 1.3em;
  font-weight: lighter;
  margin: 0 0 5% 10%;
}

.slideshow {
  display: flex;
  justify-content: center;
}
