<div class='container nav-primary'>
  <p>
      American Estate Sales offers a complete range of estate sale and downsizing services including organizing, sorting, disposing of trash, donating unwanted items, pricing, advertising, conducting the sale, and final clean-out. We’ll take care of everything from the beginning to the end, leaving a house broom-clean and ready for closing. We can make a daunting process simple.
  </p>

</div>

<div class='container nav-primary slideshow'>
  <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
</div>
